---
import { getStartUrl } from 'jvb-spotify-client'
import Layout from '../layouts/Layout.astro'
import Login from '../components/login.svelte'
import { RequiredScopes } from '../constants'

const startUrl = getStartUrl({
  clientId: import.meta.env.SPOTIFY_CLIENT_ID!,
  redirectUri: import.meta.env.SPOTIFY_REDIRECT_URI!,
  scopes: RequiredScopes,
})
---

<Layout>
  <header class="text-center py-10">
    <h1 class="text-3xl">Likes Manager</h1>
  </header>
  <main class="flex text-center justify-center">
    <section>
      <Login startUrl={startUrl} client:only="svelte" />
    </section>
  </main>
</Layout>
