---
import background from '../assets/background.svg'
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>i like you</title>
  </head>
  <body class="m-0 w-full h-full px-4">
    <img
      class="fixed top-0 left-0 w-full h-full z-[-1] _blur-[100px] object-cover"
      src={background.src}
      alt="nice pink and purple pastel background"
      fetchpriority="high"
    />
    <slot />
  </body>
</html>
